.involve {
	height: 500px;
	max-width: 500px;
	margin: 0 auto;
	position: relative; 
}

.involve__item {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 7;
	cursor: pointer;
}

.item-text {
	position: absolute;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.item-text--1 {
	top: -25%;
}

.item-text--2 {
	right: -85px;
}

.item-text--3 {
	right: -93px;
}

.item-text--4 {
	bottom: -40px;
	min-width: 125px;
	text-align: center;
}

.item-text--5 {
	left: -87px;
	text-align: right;
}

.item-text--6 {
	left: -68px;
	text-align: right;
}

.involve__item--center {
	background: #E76349;
	color: #fff;
	height: 120px;
	width: 120px;
	font-size: 24px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.involve__item--1 {
	top: 25%;
	background: #119146;
}

.involve__item--2 {
	top: 37.5%;
	left: 75%;
	background: #14a851;
}

.involve__item--3 {
	top: 62.5%;
	left: 75%;
	background: #16bf5c;
}

.involve__item--4 {
	top: 75%;
	background: #19d567;
}

.involve__item--5 {
	top: 62.5%;
	left: 25%;
	background: #23e573;
}	

.involve__item--6 {
	top: 37.5%;
	left: 25%;
	background: #3ae882;
}

/* LOGO Parteneri */

.logo-list {
	padding: 20px;
}

.logo-list__wrapper {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logo-list__item {
	margin: 0 25px 10px 0;
}

.logo-list__item img{
	max-height: 40px;
}

/* FOOTER */
