.main-header {
  background-color: $primary-color;
  padding: 15px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 200px;

    svg {
      * {
        fill: $light-color;
      }
    }
  }
}

.main-navigation {
  > ul {
    display: flex;
    justify-content: space-between;
    margin: 0;

    > li {
      color: $light-color;
      cursor: pointer;
      font-size: 18px;
      margin-right: 40px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &.main-navigation__no-submenu {
        a {
          color: $light-color;

          &:hover {
            color: $light-color;
          }
        }
      }
    }
  }

  &__submenu {
    display: none;
  }
}

.main-navigation__has-submenu {
  &:hover {
    > .main-navigation__submenu {
      display: block;
    }
  }
}

.main-navigation__submenu {
  position: absolute;
  padding-top: 15px;
  z-index: 9;

  ul {
    position: relative;
    background-color: $light-color;
    min-width: 200px;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2);
    padding: 5px 0;

    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $light-color transparent;
      position: absolute;
      top: -10px;
      left: 15px;
    }
  }

  li {
    a {
      display: block;
      padding: 5px 15px;
      color: $primary-color;

      &:hover {
        color: $primary-color;
        background-color: lighten($primary-color, 60%);
      }
    }
  }
}