.continer-fluid
  header.main-header
    .container
      .main-header__logo
        include ../components/svg/logo
      .main-header__navigation
        nav.main-navigation
          ul.list-unstyled
            li.main-navigation__has-submenu Initiativa
              .main-navigation__submenu
                ul.list-unstyled
                  li
                    a(href="#") Ce vrem?
                  li
                    a(href="#") Ce facem?
                  li
                    a(href="#") Rezultate
                  li
                    a(href="#") Infografice

            li.main-navigation__has-submenu Infrastructura
              .main-navigation__submenu
                ul.list-unstyled
                  li
                    a(href="#") A8
                  li
                    a(href="#") A7
                  li
                    a(href="#") A13

            li.main-navigation__has-submenu Asociatia
              .main-navigation__submenu
                ul.list-unstyled
                  li
                    a(href="#") Cine suntem?
                  li
                    a(href="#") Conducere
                  li
                    a(href="#") Membri
                  li
                    a(href="#") Filiale

            li.main-navigation__has-submenu Media
              .main-navigation__submenu
                ul.list-unstyled
                  li
                    a(href="#") Conferinte de presa
                  li
                    a(href="#") Evenimente
                  li
                    a(href="#") Opinii
                  li
                    a(href="#") Infografice

            li.main-navigation__has-submenu Implica-te
              .main-navigation__submenu
                ul.list-unstyled
                  li
                    a(href="#") Inscriete
                  li
                    a(href="#") Devino ambasador
                  li
                    a(href="#") Promoveaza
                  li
                    a(href="#") MVA in trafic

            li.main-navigation__no-submenu
              a(href="#") Shop

            li.main-navigation__no-submenu
              a(href="#") Contact