section.description
  .container
    h3 Lorem ipsum dolor sit amet
    p Maecenas hendrerit metus nisi. Donec suscipit, ligula vel posuere commodo, lectus lorem egestas justo, nec vulputate ipsum metus et massa. Aliquam at ultrices ipsum. Vivamus et ipsum sagittis, placerat dolor quis, venenatis ligula. Nullam nisl ipsum, varius ac tortor eget, tempor convallis sapien. Cras at efficitur ligula. Vestibulum eu ante condimentum, sodales risus vel, hendrerit tortor. Aliquam erat volutpat. Duis pellentesque nulla vel ullamcorper ornare. Sed at placerat nibh. Proin hendrerit tincidunt diam, eu hendrerit dolor tincidunt efficitur.