section.infographic
  .container
    .infographic-items
      .infographic-item
        .infographic-item__icon
          include ../../components/svg/car
        .infographic-item__data
          p 30.000
        .infographic-item__description
          p Automobile<br> zilnic

      .infographic-item
        .infographic-item__icon
          include ../../components/svg/users
        .infographic-item__data
          p 7 Mil.
        .infographic-item__description
          p Beneficiari

      .infographic-item
        .infographic-item__icon
          include ../../components/svg/km
        .infographic-item__data
          p 310
        .infographic-item__description
          p Kilometri

      .infographic-item
        .infographic-item__icon
          include ../../components/svg/chart
        .infographic-item__data
          p 10%
        .infographic-item__description
          p Crestere<br> econmica

      .infographic-item
        .infographic-item__icon
          include ../../components/svg/coin
        .infographic-item__data
          p 6 Mld.
        .infographic-item__description
          p Euro investiti