section.involve
  .container
    .row
      .col-sm-10.involve__content
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique felis eu volutpat fringilla. Nunc vitae cursus dolor, et mattis magna. Fusce vestibulum ipsum eget felis hendrerit, id laoreet justo dapibus. Morbi tempus mi dui, in fermentum mauris laoreet sit amet. Aliquam ut ultricies massa. Duis et ex vitae est faucibus ultricies et ac sapien. Suspendisse nec ullamcorper ex. Sed in pulvinar nunc. Duis velit magna, sodales ac mauris et, placerat commodo magna.
      .col-sm-2.involve__cta
        a(href="#").btn.btn-primary Initiativa
