section.video
  .container
    .video__thumbnail
      img.img-fluid(src="../assets/images/video-thumbnail.png" alt="")
      .video__button
        img.img-fluid(src="../assets/images/play.png" alt="")

include ./video-lightbox