section.video-lightbox
  .video-lightbox__video
    <iframe src="https://player.vimeo.com/video/103629819?color=ffffff" width="1280" height="720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  .video-lightbox__overlay