@import '../../../sass/variables.scss';

.r-pod-head {
  text-align: center;
  margin-bottom: 40px;
}

.r-pod-container {
  width: 100%;
  background-color: white;
  padding: 25px 50px;
}

.r-pod-paragraph {
  font-size: 32px;
  text-align: center;
}

.r-pod-body-title {
  font-family:Arial;
  font-size: 60px;
  color: #999;
  margin-top: 0;
  margin-bottom: 40px;
}

.r-pod-logo {
  width: 460px;
  height: auto;
}

.r-pod-img {
  width: 100%;
  height: auto;
}

.r-pod-subtitle {
  font-family:Arial;
  font-size: 72px;
  color:#4f314d;
  word-break: break-word;
  margin-top: 0;
  margin-bottom: 40px;
}

.r-pod-info {
  font-family:Arial;
  font-size:48px;
  color: #999;
  margin-top: 0;
  margin-bottom: 40px;
}

.r-pod-info-details {
  font-family:Arial;
  font-size:24px;
  color: #999;
  margin: 0;
}

.r-pod-details {
  text-align: center;
}
