



<div class="r-pod-container">
    <div class="r-pod-head">
      <img class="r-pod-logo" src="./../../../assets/logo-mva.png"/>
    </div>
   <div class="r-pod-body">
    <h1 class="r-pod-body-title">N-avem autostrada deci,</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <img class="r-pod-img" src="./../../../assets/bani-mva.svg" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="r-pod-details">
            <h2 class="r-pod-subtitle">{{incrementallNumber}}mil euro</h2>
            <p class="r-pod-info">Bani pierduti</p>
            <p class="r-pod-info-details">Pentru că... Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          </div>
      </div>
    </div>
   </div>

  </div>
