<footer>
  <div class="site-width">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2">
          <p>
            This is a FOOTER
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
