html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  background-color: white;
  font-family: $main-font;

  a {
    text-decoration: underline;
    color: $primary-color;

    &:hover, &:focus {
      color: $primary-color;
    }
  }

  p, span {
    font-family: $main-font;
  }
}


.site-width {
  max-width: $max-site-width;
  margin: 0 auto;
}

.site-height {
  min-height: 100%;
  margin-bottom: -60px;
}

.site-height:after {
  content: "";
  display: block;
}
