.cover {
  padding: 0;
  min-height: 612px;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to bottom, transparent, $dark-color);
  }

  h3 {
    color: $light-color;
    position: relative;
    z-index: 9;
    padding: 30px 150px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
  }
}