.description {
  padding: 50px 0;
  text-align: center;

  h3 {
    color: $primary-color;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    padding: 0 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}