.infographic {
  padding: 50px 0;
}

.infographic-items {
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
}

.infographic-item {
  text-align: center;
  color: $primary-color;

  &__icon {
    margin-bottom: 15px;
  }

  &__data {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;

    p {
      line-height: 1;
    }
  }

  &__description {
    p {
      font-size: 18px;
      margin-bottom: 0;
      line-height: 1.2;
    }
  }
}