.video {
  background-color: lighten($primary-color, 60%);
  position: relative;
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;

  &:hover {
    img {
      opacity: .7;
    }
  }

  img {
    width: 101px;
    transition: all .2s ease-in-out;
  }
}