extends ./layouts/master.pug

block title
  title Acasa - Moldova vrea autostrada

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content
  section.page.page--home

  //-- Cover
  include ./page-components/home/cover

  //-- Involve
  include ./page-components/home/involve

  //-- Infographic
  include ./page-components/home/infographic

  //-- Infographic
  include ./page-components/home/description

  //-- Video
  include ./page-components/home/video
