.btn {
  border-radius: 0;
  padding: 10px 20px;
  font-size: 18px;
  border: 0;
  text-transform: uppercase;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &.btn-primary {
    background-color: $primary-color;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($primary-color, 5%);
    }
  }
}